.navigation{
    ul{
        color: gray ;
        text-align: center
        ;
    }
    li{
        background-color: antiquewhite;
        margin: 5px;
    }

    nav-active{
        color: red;
    }
}
