@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$theme-1 : #6C76AC;
$theme-2 : #f9CC76;
$theme-3 : #F68C8C;
// reset
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
//

/////////////////////////////////////change theme
// #root{
//     //background-color: #FFCBCB;
//      background-color: $theme-2;
//     //background-color: bisque;
// }
// *::after{
//     background-color:bisque;
// }

/////////////////////////////////////

body{
    
    font-family: 'VT323', monospace;
    
}

li{
    list-style-type: none;
}